<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.word.radio.newradio">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.word.radio.ifly.SpeechApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".MediaButtonReceiver"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="b9dcecc;" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />

        <service
            android:name="com.word.radio.time.TimeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.word.radio.time.SendNotificationIS"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedService" />
        <service
            android:name="com.word.radio.time.FinishVoiceIS"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedService" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppSplash"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>